*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:lightblue
}
/* General */

.container{
    width: 900px;
    text-align: center;
    margin: 30px auto;

}

/* Header */
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 30px;
}

header img{
    max-width: 200px;
}

header span{
    font-size: 2rem;
    align-self: center;
    margin-left: 10px;
}

/* Navbar */
nav{
    display: flex;
    height: 30px;
}
input {
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid rgb(2, 115, 228);;
}
input:focus{
    outline: none;
    border-bottom: 2px solid rgb(2, 115, 228);;
}

.btn{
    padding: 5px;
    border-radius: 20px;
    margin-left: 50px;
    border: none;
    cursor: pointer;
    background-color: rgb(2, 115, 228);
}
.btn:focus{
    background-color: rgb(36, 142, 248);
}

/* Main Content */
main {
    margin: 40px auto;
}

ul li {
    display: flex;
    border-bottom: 1px solid rgb(2, 115, 228);
    margin: 15px 0;
}

ul li:last-child{
    border-bottom: none;
}

ul li.completed::before{
    background-color: rgb(2, 115, 228);
}
.text {
    flex-grow: 1;
    text-align: left;
    cursor: pointer;
}
li::before{
    content: '';
    display: inline-block;
    height: 10px;
    width: 10px;
    border: 1px solid black;
    margin-right: 3px;
}

.delete{
    margin-left: 20px;
}
.delete:hover{
    color: rgb(223, 4, 4);
    cursor: pointer;
}

.completed span{
    text-decoration: line-through;
}

